<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pacman</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Foldit:wght@500&display=swap" rel="stylesheet">
</head>
<style>
body {
    background-color : black;
    color : white;
}

header {
    font-family: 'PacFont Good', cursive;
    font-size: 100px;
    color: yellow;
}

.wrapper {
    width : 440px;
    height : 540px;
    margin: auto;
    margin-top : 150px;
    text-align : center;
}

.info_wrapper {
    height : 30px;
    text-align : right;
}

</style>
<body>
<div class="wrapper">
    <header>Pacman</header>
    <button onclick="location.href='{% url 'show_ranking' %}'">랭킹 보기</button>
    <button onclick="location.href='{% url 'start_game' %}'">게임 시작</button>
    <img src="/static/img/ranking.png", style="display: block; margin:-60px 240px auto auto;  width:30px; height: 30px;"></a>
    <img src="/static/img/start.png", , style="display: block; margin:-30px 173px auto auto;  width:30px; height: 30px;"></a
    <button disabled>게임 방법</button>
    <button disabled>정보</button>
</div>
</body>
</html>