<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pacman</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Foldit:wght@500&display=swap" rel="stylesheet">
</head>
<style>
body {
    background-color : black;
}

header {
    font-family: 'Foldit', cursive;
    font-size: 100px;
}

.wrapper{
    position: absolute;
    margin: auto;
    margin-top : 120px;
    padding: 30px;
    border-radius: 6px;
    text-align : center;
    max-width : 1300px;
}

</style>
<body>
<div class="wrapper">
    <header>Pacman</header>
    <button onclick="location.href='{% url 'show_ranking' %}'">랭킹 보기</button>
    <button onclick="location.href='{% url 'start_game' %}'">게임 시작</button>
</div>
</body>
</html>